.navbar {
	font-family: "Open Sans", sans-serif;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: center;
	background-color: white;
	height: 50px;
	
}

.logo {
	color: black; 
}

.sub2 {
	flex-direction: column;
}

.sub3 {
	flex-direction: column;
}

.index {
	justify-content: flex-end;
}

.container2 {
	display: flex;
}

.image-main-container {
	display: flex;
	width: 100%;
	background-color: thistle;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.item-container {
	display: flex;
	width: 100%;
	background-color: thistle;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.image-title {
	font-family: "Berkshire Swash", cursive;
	font-size: 75px;
}

.flexbox-image {
	width: 100%;
	margin: 9px;
	align-items: center;
	background-color: rgba(19, 255, 235, 0.6);
	min-width: 200px;
	max-width: 400px;
}
.flexbox-item-1 {
	height: 300px;
}

.flexbox-item-2 {
	height: 500px;
}

.flexbox-item-3 {
	height: 400px;
}
